<template lang="pug">
  centered-forty-sixty
    .columns
      .bio
        .markdown(v-show="profile.bio" v-html="bioHtml")
        .divider(v-if="profile.bio")
        small.text-gray.
          {{ $t('joined') | lowercase }} {{ $d(new Date(profile.createdAt), 'short') }}
    .columns
      dropdown-button(
        style="height:initial;position:relative;top:-0.25rem;left:-0.25rem;"
      ) {{ $tc(activityFilter, 2) | capitalize({ onlyFirstLetter: true }) }} #[i.material-icons(tabindex="-1" style="font-size:0.9rem;") filter_list]
        template(slot="container")
          li.menu-item
            a.menu-item(:class="{ active: activityFilter == 'comment' }" @click="() => activityFilter = 'comment'")
              small only show comments
          li.menu-item
            a.menu-item(:class="{ active: activityFilter == 'modification' }" @click="() => activityFilter = 'modification'")
              small only show modifications
          li.menu-item
            a.menu-item(:class="{ active: activityFilter == 'activity' }" @click="() => activityFilter = 'activity'")
              small show all
      .activities.mt-15
        activity.mb-25(v-for="action in aggregatedActions" :activity="action" :key="action.id")
      .empty-action.col-mx-auto.mb-20(v-if="actions.pageInfo && actions.pageInfo.hasNextPage")
        z-button {{ $t('show more') }}
</template>

<script>
import { mapGetters } from 'vuex'

import snarkdown from 'snarkdown'

import CenteredFortySixty from '~/components/sublayouts/CenteredFortySixty.vue'
import Activity from '~/components/Activity'
import DropdownButton from '~/components/DropdownButton'

import listActionsForUserGql from '~/apollo/queries/listActionsForUser'

export default {
  layout: 'default+profileheader',
  components: {
    // layout components:
    CenteredFortySixty,
    // logic components:
    Activity,
    DropdownButton
  },
  data() {
    return {
      routeParam: this.$route.params.id.substring(1),
      profile: {
        bio: ''
      },
      actions: {
        edges: []
      },
      activityFilter: 'activity'
    }
  },
  head() {
    return {
      title: `${this.getInstanceName} - Corpus - ${this.profile.name}`,
      meta: [
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.profile.avatar
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.displayName
        },
        this.crawlable ? {} : { name: 'robots', content: 'noindex, nofollow' }
      ],
      link: [
        // { rel: 'alternate', href='{{$profile->permalink()}}', type: 'application/activity+json' }
        {
          rel: 'alternate',
          href: `${this.$route.path}.rss`,
          title: `${this.profile.name} on OLKi`,
          type: 'application/rss+xml'
        },
        {
          rel: 'alternate',
          href: `${this.$route.path}.atom`,
          title: `${this.profile.name} on OLKi`,
          type: 'application/atom+xml'
        }
      ]
    }
  },
  computed: {
    bioHtml() {
      return snarkdown(this.profile.bio)
    },
    crawlable() {
      return this.profile && this.profile.indexed
    },
    aggregatedActions() {
      return this.actions.edges // not modifying anything for now, but ready to rearrange the list if need be
    },
    ...mapGetters('instance', ['getInstanceName'])
  },
  apollo: {
    actions: {
      query: listActionsForUserGql,
      fetchPolicy: 'network-only',
      variables() {
        return {
          username: this.routeParam,
          first: 15,
          onlyComments: this.activityFilter === 'comment' ? true : null,
          onlyModifications:
            this.activityFilter === 'modification' ? true : null
        }
      },
      update: data => {
        return {
          ...data.actionsUser,
          edges: data.actionsUser.edges.map(edge => edge.node)
        }
      }
    }
  },
  asyncData({ store, params }) {
    store.commit('users/setCurrentUser', params.id.substring(1))
    return store.dispatch('users/getUserByUsername', params.id.substring(1))
  }
}
</script>

<style scoped>
.columns {
  flex-direction: column;
  text-align: left;
}

.bio {
  background: rgb(var(--color-foreground));
  border-radius: 4px;
  margin-bottom: 25px;
  padding: 20px;
}
</style>
