<template lang="pug">
  div.columns.pagecontainer
    div.col-12.col-mr-auto.grid
      nuxt(v-if="!$slots.default")
      slot
</template>

<style lang="scss" scoped>
.pagecontainer {
  margin-top: 30px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.grid {
  display: grid;
  max-width: 70rem;
  grid-template-columns: minmax(0, 20%) minmax(0, 80%);
  grid-gap: 30px;
}
</style>
