<template lang="pug">
  div.columns(:style="{ 'margin-top': marginTop }")
    div.col-11.col-mx-auto.grid
      nuxt(v-if="!$slots.default")
      slot
</template>

<script>
export default {
  props: {
    marginTop: {
      type: String,
      default: '30px'
    }
  }
}
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  max-width: 960px;
  grid-template-columns: minmax(0, 40%) minmax(0, 60%);
  grid-gap: 30px;
}
</style>
