{% load analytical %}
<!doctype html>
<html lang="en" data-n-head="lang">
  <head>
    {% analytical_head_top %}
    {% include "./_head.html" %}
    <!-- base url -->
    <base href="/">
    {% block title %}<title>OLKi</title>{% endblock %}
    {% block head %}{% endblock %}
    {% analytical_head_bottom %}
  </head>
  <body>
    {% analytical_body_top %}
    {% include "./_bottom.html" %}
    {% analytical_body_bottom %}
  </body>
</html>
