<template lang="pug">
  centered
    //- If the url has 'uid' and 'token' GET parameters (checked at mounted), then confirm form
    .empty(v-if="confirmReset")
      .empty
        .empty-icon
          authentification(height="200" primaryColor="rgba(var(--color-primary), 0.8)")
        p.empty-title.h5 {{ $t('password reset confirm') }}
        p.empty-subtitle {{ $t('password reset confirm help') }}
        .empty-action.input-group
          .form-group
            input.form-input(ref="email" type="text" :placeholder="$t('email for account')" data-vv-scope="confirm" v-model="email" v-validate="'email'" data-vv-as="email" name="email")
        .empty-action.input-group
          .form-group
            input.form-input(type="password" placeholder="New password" v-model="newPassword" data-vv-scope="confirm" v-validate="{ is: reNewPassword }")
        .empty-action.input-group
          .form-group
            input.form-input(type="password" placeholder="New password (repeat)" v-model="reNewPassword")
        .empty-action.input-group
          .form-group
            z-button(color="primary" @click="sendResetPasswordConfirm()") {{ $t('password change') }}

    //- Otherwise we are here to send a password reset mail
    .empty(v-else)
      .empty(v-if="!hasReset")
        .empty-icon
          <z-icon tabindex="-1" name="markunread_mailbox" />
        p.empty-title.h5 {{ $t('enter account email') }}
        p.empty-subtitle {{ $t('enter account email help reset') }}
        .empty-action.input-group
          .form-group
            input.form-input(ref="email" type="text" data-vv-scope="send" :placeholder="$t('email for account')" v-model="email" v-validate="'email'" data-vv-as="email" name="email")
          z-button.input-group-btn(color="primary" @click="sendResetPassword()") {{ $t('password reset') | capitalize({ onlyFirstLetter: true }) }}
      .empty(v-else)
        div.empty-icon
          authentification(height="200" primaryColor="rgba(var(--color-primary), 0.8)")
        p.empty-title.h5 {{ $t('enter account email check') }}
        p.empty-subtitle {{ $t('enter account email check reset') }}
</template>

<script>
import Authentification from 'vue-undraw/UndrawAuthentication'

import Centered from '~/components/sublayouts/Centered.vue'

export default {
  components: {
    // layout components:
    Centered,
    // cosmetic components:
    Authentification
  },
  data() {
    return {
      email: '',
      // sent link-related
      hasReset: false,
      // confirm-related
      confirmReset: false,
      newPassword: '',
      reNewPassword: '',
      uid: '',
      token: ''
    }
  },
  computed: {
    isSendInformationValid() {
      return !this.errors.has('send.*')
    },
    isConfirmInformationValid() {
      return !this.errors.has('confirm.*')
    }
  },
  mounted() {
    const query = this.$route.query

    this.checkResetLink(query)
  },
  methods: {
    sendResetPassword() {
      this.$store.dispatch('auth/reset', this.email)
      this.hasReset = true
    },
    checkResetLink(query) {
      this.uid = 'uid' in query && query.uid
      this.token = 'token' in query && query.token

      if (!(this.uid && this.token)) {
        // we don't have proper GET parameters, so the user must just be there
        // to request a new link. Nothing special to do.
      } else {
        // we have proper GET parameters, we can display the reset form.
        this.confirmReset = true
      }
    },
    async sendResetPasswordConfirm() {
      await this.$validator.validate()
      if (!this.isConfirmInformationValid) {
        this.$toast.error('Your information still has formatting issues', {
          icon: 'warning'
        })
      } else {
        try {
          const res = await this.$store.dispatch('auth/resetConfirm', {
            uid: this.uid,
            token: this.token,
            email: this.email,
            newPassword: this.newPassword,
            reNewPassword: this.reNewPassword
          })
          console.log(res)
          this.$router.push(this.localePath({ name: 'home' }))
        } catch (e) {
          console.log(e)
        }
      }
    }
  },
  $_veeValidate: {
    validator: 'new'
  }
}
</script>

<style scoped>
i {
  font-size: 60px;
  max-width: 60px;
}

.input-group {
  justify-content: center;
}

input {
  width: 100% !important;
}
</style>
