<template lang="pug">
  span
    a.chip.c-hand(v-if="!text" :href="actor.profileUrl")
      img.avatar.avatar-sm(v-if="actor.icon && !noAvatar" :src="actor.icon.url || actor.icon")
      span {{ actor.name }}
    span.chip.c-hand(v-else) {{ text }}
</template>

<script>
import environment from '~/mixins/environment'

export default {
  mixins: [environment],
  props: {
    actor: {
      type: Object,
      default: () => {}
    },
    text: {
      type: String,
      default: ''
    },
    noAvatar: Boolean
  }
}
</script>

<style scoped>
a:active {
  text-decoration: none !important;
}
</style>
