<template lang="pug">
  li.menu-item.menu-item-corpus
    nuxt-link(
      :to="{ path: localePath({ name: 'account-corpora-edit-id', params: { id: corpus.pk } } ) }"
      exact-active-class="active"
    )
      .chip.chip-corpus
        span.text-ellipsis {{ corpus.title }}
        span.btn.btn-clear(role="button" aria-label="Close" title="Close corpus" v-on:click.prevent.self="close")
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  props: {
    corpus: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    ...mapMutations('corpora', ['removeOpenCorpora']),
    close() {
      /* eslint-disable */
      // if the corpus we are trying to close is the current url, go to list
      if (this.$route.path === this.localePath({ name: 'account-corpora-edit-id', params: { id: this.corpus.pk } } )) {
        this.$router.push(this.localePath({ name: 'account-corpora' }))
      }

      this.removeOpenCorpora(this.corpus)
    }
  }
}
</script>

<style lang="postcss" scoped>
.chip-corpus {
  max-width: 100%;

  & > a,
  & > a:hover {
    color: unset !important;
    text-decoration: none;
  }
}

.menu-item-corpus {
  padding-right: 0;
  max-width: 100%;
}

.menu .menu-item > a:focus,
.menu .menu-item > a:hover {
  background: rgba(var(--color-primary), 0.4) !important;
  background-color: rgba(var(--color-primary), 0.4) !important;
  border-color: rgba(var(--color-primary), 0.4) !important;
}
</style>
