<template lang="pug">
div.dropdown
  a.btn.btn-link.dropdown-toggle(tabindex="0" :disabled="disabled")
    slot
  ul.menu
    slot(name="container")
</template>

<script>
export default {
  props: {
    disabled: [Boolean]
  }
}
</script>

<style scoped>
a i {
  margin-right: 0.6rem;
}
a {
  color: rgba(var(--color-text), 1) !important;
}
.menu {
  top: calc(1.7rem);

  background: rgba(var(--color-background), 1);
  z-index: 1;
}

.badge::after {
  right: -0.4rem;
}
</style>
