<template lang="pug">
div
  .divider.text-center(v-if="header" :data-content="name | capitalize")
  .empty
    .empty-icon
      z-icon(tabindex="-1" :name="icon")
    p.empty-title.h5 {{ name }} unavailable
    p.empty-subtitle {{ $t('pending implementation message') }}
    .empty-action
</template>

<script>
export default {
  props: {
    header: {
      type: Boolean,
      default: true
    },
    name: {
      type: String,
      default: 'Functionality'
    },
    icon: {
      type: String,
      default: 'cancel'
    }
  }
}
</script>

<style scoped>
i {
  font-size: 60px;
  max-width: 60px;
}
</style>
