<template lang="pug">
div.popover.popover-bottom
  z-button.btn-action.s-circle
    z-icon(:name="icon")
  div.popover-container
    nuxt(v-if="!$slots.default")
    slot
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="postcss" scoped>
.popover-container {
  width: unset !important;
}

.menu {
  left: 30% !important;
  min-width: unset;
}
</style>
