<template lang="pug">
  div
    div.loading.loading-xl
    p {{ text | capitalize({ onlyFirstLetter: true }) }}
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'loading…'
    }
  }
}
</script>

<style>
.loading.loading-xl {
  min-height: 4rem;
}

.loading.loading-xl::after {
  height: 3rem;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
}
</style>
